<?xml version="1.0" encoding="UTF-8" ?>
<!-- Copyright 2011 The Kuali Foundation Licensed under the Educational Community License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.osedu.org/licenses/ECL-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License. -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
						http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-3.0.xsd      
						http://www.springframework.org/schema/jee 
						http://www.springframework.org/schema/jee/spring-jee-3.0.xsd 
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <bean id="mapper" class="org.kuali.mobility.util.mapper.DataMapperImpl"/>

	<bean id="newsSource" class="org.kuali.mobility.news.entity.NewsSourceImpl"/>
    
    <bean id="newsArticle" class="org.kuali.mobility.news.entity.NewsArticleImpl" scope="prototype"/>
    
    <bean id="newsCache" class="org.kuali.mobility.news.dao.NewsCacheImpl"/>
    
    <bean id="newsDao" class="org.kuali.mobility.news.dao.NewsDaoImpl">
        <property name="mapper" ref="mapper"/>
        <property name="newsSourceFile" value="newsSources.xml"/>
        <property name="newsMappingFile" value="newsSourcesMapping.xml"/>
        <property name="cache" ref="newsCache"/>
    </bean>
    
    <bean id="newsService" class="org.kuali.mobility.news.service.NewsServiceImpl">
        <property name="dao" ref="newsDao"/>
        <property name="cache" ref="newsCache"/>
    </bean>
    
</beans>
 